:root{
    --color-title:#000000;
    --color-nav-menu:#2b2929;
    --font-family:"Geologica", sans-serif;
    --global-max-width: 1152px;
    --font-size-h1: 60px;
    --font-size-p: 17px;
    --font-size-h2: 36px;
    --bg-color-btn:#ffbc0d;
}