.container_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: yellow;
    width: 800px;

}


.item1{
    width: 500px;
    height: 75px;
    border: 5px solid blue;
    flex-wrap: wrap;
    gap: 5px;
}

.item2{
    width: 500px;
    height: 75px;
    border: 5px solid blue;
    flex-wrap: wrap;
    gap: 5px;
}

.item3{  
    width: 500px;
    height: 75px;
    border: 5px solid blue;
    flex-wrap: wrap;
    gap: 5px;
}

.item4{
    width: 500px;
    height: 75px;
    border: 5px solid blue;
    flex-wrap: wrap;
    gap: 5px;
}

.item5{
    width: 500px;
    height: 75px;
    border: 5px solid blue;
   
    gap: 5px;

}