:root {
    --padding:80px;
}

h1{
    color: red;
    font-size: 40px;
}

p{
    color: blue;
    padding: var(--padding);
}

.p1{
    font-size: 30px;
    color: blueviolet;
    padding:var(--padding);
}