.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

.container{
    width: 100%;
    max-width: 1150px;
    background-color: #e7e7e7;
}
.nav{
    width: 100%;
    text-decoration: none;

}
   .nav__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 5%;
}



a{
    @extend .container;
    text-decoration: none;
    
}

.menu-item{
    background-color: #e7e7e7;
}

.menu-item-1{
    @extend.menu-item;
    border: 1px #333333;
}}