body{
    background-color: aquamarine;
}

.card__gallery{
    display: flex;
    gap: 15px;
}
.card__gallery img{
    border-radius: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
    width:500px;
}

.card__gallery:has(img:hover) img:not(:hover){
    filter:blur(10px);
}